.swiper-slide img {
    width: auto;
    height: auto;
    
}

ion-slides {
    align-self:center;
    margin-top: 10px;
    height: 200px;
    background-color:inherit;
    border-color:indigo;
    border-style:solid;
  }

  ion-slide {
    padding: 7% 7% 7% 7%;
    

  }

