@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root{
    --ion-background-color: #220F7E;
}

.badge{
    font-size:700%;
    margin-left:35%;
    margin-right:10%;
}


.SmallDescription{
    font-family: 'Comfortaa', cursive;
    font-size:12px;
}


.centerLeft{
    display: flex;
    align-content: center;
    align-items: center;
}


.topMargin
{
    margin-top: 10%;
}

.btnSubmit{
    width: 40%;
    margin-left:45%;
}