
.BadgeDetails{
    width:100%;
}
.ViewBadgeTitle{
    font-size: small;
}

.ViewBadgeCard{
    padding: 0%;
    margin: 0px;
    height: 20vh;
    width: 29vw;
    background-color: rgba(1, 1,1, 0.4);
    
}
.ViewBadgeImage{
 margin: 0;
 width: 100%;
}
.ViewBadgeImage img{
    height: 125px;
    width: 125px;
}