
.FirstPlace{
    background-color:#2fe9f7;
}
.SecondPlace{
    background-color:#ffc409;

    
}
.ThirdPlace{
    background-color:#ff38bd;    
}
.You{
    border: 1px;
    border-style: solid;
    border-color:white;
    border-radius: 5%;
    box-shadow:
    0 0 1px 1px #fff,  /* inner white */
    0 0 1px 1px #fff, /* middle magenta */
    0 0 5px 5px #fff; /* outer cyan */
}

.Leaderboard{
    width:100%
}

ion-row{
    padding:4px;
    border-radius: 7px;
    margin:0;
}

.light{
    font-style: italic;
    opacity: 80%;
}