/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
/** Ionic CSS Variables **/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto+Flex:opsz@8..144&display=swap');

:root {
   /** primary **/
	--ion-color-primary: #321E93;
	--ion-color-primary-rgb: 15,0,90;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #2c1a81;
	--ion-color-primary-tint: #47359e;
  /** secondary **/
	--ion-color-secondary: #873CFF;
	--ion-color-secondary-rgb: 50,30,147;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #7735e0;
	--ion-color-secondary-tint: #9350ff;
/** tertiary **/
	--ion-color-tertiary: #ff38bd;
	--ion-color-tertiary-rgb: 135,60,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #db1499;
	--ion-color-tertiary-tint: #ec93cf;

  /** success **/
	--ion-color-success: #2fe9f7;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #1dc2ce;
	--ion-color-success-tint: #41f2ff;
  /** warning **/
	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;
  /** danger **/
	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;
  /** medium **/
	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: white;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa669;
  /** light **/
	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
  --ion-text-color: #ffffff;

  --ion-color-darkorange: darkorange;

  
}

 /*
   * Default Colors light theme
   * -------------------------------------------
  */
.ios body {
  --ion-background-color: var(--ion-color-secondary);
  --ion-background-color-rgb: 18,18,18;
  --ion-text-color: white;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #301d8c;
	--ion-color-step-100: #2d1b84;
	--ion-color-step-150: #2b1a7d;
	--ion-color-step-200: #281876;
	--ion-color-step-250: #26176e;
	--ion-color-step-300: #231567;
	--ion-color-step-350: #211460;
	--ion-color-step-400: #1e1258;
	--ion-color-step-450: #1c1151;
	--ion-color-step-500: #190f4a;
	--ion-color-step-550: #160d42;
	--ion-color-step-600: #140c3b;
	--ion-color-step-650: #120b33;
	--ion-color-step-700: #0f092c;
	--ion-color-step-750: #0d0825;
	--ion-color-step-800: #0a061d;
	--ion-color-step-850: #080516;
	--ion-color-step-900: #05030f;
	--ion-color-step-950: #030207;

  --ion-item-background: var(--ion-color-secondary);

  --ion-card-background: var(--ion-color-tertiary);
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-secondary);
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-border-color: #000000;
}
.shadow {
  box-shadow: 2px 2px 2px 2px 2px 2px #0f005a;
}

.centerComp{
    margin-left: 10%;
    margin-right:10%;
}

.btn{
  font-family: 'Comfortaa', cursive;
}

.inner-scroll.scroll-y.overscroll{
  background-color: #873CFF;
}

.Content
{
    padding:5em;
}
span{
  color:white;
}

ion-button{
  width:80%;
  margin-left: 10%;
  margin-right:10%;
}


.errText{
  --ion-color:var(--ion-color-danger);
  font-size: 14px;
}
.PageTitle
{
    font-size:2em;
    font-family: '', cursive;
    padding:5%;
}
.PageTitleNoPadding
{
    font-size:2em;
    font-family: 'Comfortaa', cursive;
}
.Subheading
{
    font-family: 'Comfortaa', cursive;
    font-size:1em;
}

ion-card{
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(25, 10, 143, 0.6);
}

.searchbar-input-container{

  background-color: rgba(255,255,255,0.13);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 12px rgb(25 10 143 / 40%); 
   border-radius: 2em;
    color: black;
}
.textInput{
  background-color: rgba(255,255,255,0.07);
  border-radius: 7%;
  padding:2%;
}

.inputHeading{
  font-family: 'Comfortaa', cursive;
  font-size:22px;
}
.smallHeading{
  font-family: 'Comfortaa', cursive;
  font-size:16px;
  margin-bottom: 20px;
}
.subheading{
  font-family: 'Comfortaa', cursive;
  font-size:11px;
  margin-left:5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.btnRemoveFriend{
  width:50%;
}

.width21{
  margin-left:0;
  margin-right:0;
  width: 21em;
}

.forgotPasswordForm{
    height:fit-content;
    width:75%;
    background-color: rgba(255,255,255,0.13);
    position:absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(25, 10, 143, 0.6);
    padding: 35px 35px
}

.grid
{
    width:75%;
}
.linkLabel{
  font-size: 12px;
  font-weight: 10;
}
.link{
  font-size:12px;
  font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.smallerTextBox {
  width: 75%;
  border-radius: 8px;
  padding:2%;
}

.textarea{
  padding:2%;
}

.un{
  font-size: 5vw !important;
  margin-bottom: 5%;
  font-family: 'Comfortaa', cursive;;
}

.badge{
  font-size:700%;
  margin-left:35%;
  margin-right:10%;
}

.link{
  color: #9350ff;
}

.glass{
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(25, 10, 143, 0.6);
}

.width80{
  width: 80%;
}

.marginLeft{
  margin-left: 3em;
}


.spinner{
  --background: #873CFF;
  --spinner-color: #ffc409;
  --height: 4em;
}

.userImage{
  height: 7em;
  width: 7em;
  background-color: #bbb ;
}
.toolbarImage{
  height: 2em;
  width: 2em;
  background-color: #bbb ;
}


.contain
{
  background-size: contain;
}

.profileCard{
  width:25em;
  padding:2%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.gCard{
  padding:4%;
}

.gymCardMargin{
  margin-top:2%;
  margin-bottom:2%;
}


.md body {
  --ion-background-color: var(--ion-color-secondary);
  --ion-background-color-rgb: 18,18,18;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #301d8c;
	--ion-color-step-100: #2d1b84;
	--ion-color-step-150: #2b1a7d;
	--ion-color-step-200: #281876;
	--ion-color-step-250: #26176e;
	--ion-color-step-300: #231567;
	--ion-color-step-350: #211460;
	--ion-color-step-400: #1e1258;
	--ion-color-step-450: #1c1151;
	--ion-color-step-500: #190f4a;
	--ion-color-step-550: #160d42;
	--ion-color-step-600: #140c3b;
	--ion-color-step-650: #120b33;
	--ion-color-step-700: #0f092c;
	--ion-color-step-750: #0d0825;
	--ion-color-step-800: #0a061d;
	--ion-color-step-850: #080516;
	--ion-color-step-900: #05030f;
	--ion-color-step-950: #030207

  --ion-border-color: #000000;

  --ion-item-background: var(--ion-color-secondary);
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-tab-bar-background: var(--ion-color-primary);
  --ion-card-background: var(--ion-color-tertiary);

}

  /*
   * Dark Colors
   * -------------------------------------------
 @media (prefers-color-scheme: dark) {  

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
*/