main {
    background-image: linear-gradient(to bottom right, #321E93, #873CFF);
}

ion-content {
    --background: linear-gradient(to bottom right, #321E93, #a974ff) no-repeat center/cover fixed;
  }
.loginForm{
    height:400px;
    width:75%;
    background-color: rgba(255,255,255,0.13);
    position:absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(25, 10, 143, 0.6);
    padding: 50px 35px
}

.loginForm *{
    color:#ffffff;
    letter-spacing: 0.5px;
    outline:none;
    border:none;
}

ion-input{
    display: block;
    background-color: rgba(255,255,255,0.07)
}

.btnLogin{
    opacity:80%;
    
}