
.BadgeDetails{
    width:100%;
}
.ViewBadgeTitle{
    font-size: small;
}

.ViewBadgeCard{
    font-family:'Comfortaa', cursive;;
    padding: 0%;
    margin: 0px;
    height: 14em;
    width: 10em;
    background-color: rgba(255,255,255,0.13) !important;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(25, 10, 143, 0.6);
    
}
.ViewBadgeImage{
 margin: 0;
 width: 100%;
}
.ViewBadgeImage img{
    height: 125px;
    width: 125px;
}
