.AddGymContent{
    --ion-background-color: #C7C7C7;
}
.AddGymHeader{
    background-color:#4309A7;
}
.AddGymCardContent{
    background-color:#321D93;   
}
.AddGymInput{
    background-color: #620DEC;
    width:100%;
    opacity: 64%;
    border-radius: 5px;
}
.AddGymGrid{
    width: 100% !important;
    margin-bottom: 6em;
}

.flex-margin .AddGymLocation,
.flex-margin span {
  margin-right: auto;
}
.flex-margin{
    --background: #620DEC;
    width:100%;
    opacity: 64%;
    border-radius: 5px;
    margin-bottom: 2em;
}